################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/WindowMetrics/.vs/WindowMetrics/FileContentIndex/867d4ba2-aed7-4197-b45f-836e9dccf7e2.vsidx
/WindowMetrics/.vs/WindowMetrics/FileContentIndex/92eb5005-ff59-4f69-bf35-95e5a29a045b.vsidx
/WindowMetrics/.vs/WindowMetrics/FileContentIndex/941244d7-9ec2-4539-9204-e743ab59b909.vsidx
/WindowMetrics/.vs/WindowMetrics/FileContentIndex/cd1a2a06-5baa-46a8-adc0-7030a37b8d8d.vsidx
/WindowMetrics/.vs/WindowMetrics/FileContentIndex/fd9bf2bd-e019-4a4d-8b0e-6843b5f9636a.vsidx
